{% extends 'lawyer/base_lawyer.html' %}
{% block name %}
<h1 class="nb-5">ТАБЛИЦА КЛИЕНТОВ </h1>
        <div class="card">
            <div class="card-header">
            <p>Клиенты</p>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ klient.name }}</h5>
                <p class="card-text">{{ klient.body }}.</p>
                <a href="{% url 'cantors_list_url' %}" class="btn btn-light">Назад </a>
                <a href="{% url 'klient_create_url' %}" class="btn btn-light">создать новый?</a>
            </div>
        </div>

{% endblock %}
{% block contect %}


{% endblock %}